/* You can add global styles to this file, and also import other style files */

div.ui-datagrid-header.ui-widget-header.ui-corner-top{
  display: none !important;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable{
  left:15% !important;
  top: 5% !important;
  right: 15% !important;

}

.soso-bold{
  font-weight:bold;
}



ul.ui-widget-header{
  border:none !important;
  background-color:#f2f5f7 !important;

}



html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
/*
body {

   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }*/
i:hover{
  color: grey;
}



/* web app design */
@media screen and (min-width: 739px){


  .soso-schedule-class{
    display: block;
    left:27.5% !important;
    top: 5% !important;
    right: 27.5% !important;
    height: 75% !important;
    width: 45% !important;
  }

  .soso-schedule-content-block{

  }

  .validation-error-block{
    margin-top: 1%;
    background-color: pink;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: red;

  }

  .service-detail-web{

  }






  .soso-logo{
    margin-top: 0.8%;
    margin-left: 10%;
    background-color: #277fb3;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid white;
    border-radius: 10px;
    width: 120px;
    height: 72%;
  }

  .soso-on-web-properties{
    padding-left: 35% !important;
    width: 85% !important;
    float: left !important;
  }

  .soso-user-features{
    width: 15% !important;
    float: right !important;
  }


  .soso-on-mobile-properties{
    display: none;

  }

  .soso-dialog-content{
    margin-left: 40%;
  }

  .soso-languages-block{
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
  }



  .soso-logo-text{
    margin-left: 14.5%;
    font-family: "Fira Code";
  }

  .soso-welcome-page{

  }

  .service-detail-mobile{
    display: none;
  }


  .soso-wlc-page-content{
    margin: 10% 30%;
    background-color: aliceblue;
    border: 1px solid;
    border-color: #3baae3;
    border-radius: 10px;
    padding: 5%;
  }

  .soso-wlc-page-text{
    font-weight: bold;
    font-size: x-large;
  }

  .soso-wlc-page-buttons{
    margin-top: 5%;
    margin-left: 30%;
  }

  .soso-header{
    display: inline-block;
    width: 100%;
    background-color: #3baae3;
    height: 75px ;
  }

  div.ui-g-12{
    width:25%;
    padding: 2%;
  }

  div.ui-g-12:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #277fb3;
    border-radius: 4%;
  }

  .soso-mobile-properties-content{
    left:0 !important;
  }

   div.ui-md-3{
    width: 25%;

  }

  div.ui-datagrid-content.ui-widget-content{
    background-color: white;
    border:none;
    margin-left: 10%;
    margin-right: 10%;
  }
}


/* mobile design */
@media screen and (max-width: 739px){

  div.ui-md-3:hover {
    box-shadow: 0  0 rgba(0, 0, 0, 0.2), 0 0 rgba(0, 0, 0, 0.19);
    color: #277fb3;
    border-radius: 4%;
  }


  .soso-on-mobile-properties{
    margin-left: 1%;
    width: 50% !important;
    float: left !important;
  }

  .validation-error-block{
    margin-top: 1%;
    background-color: pink;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: red;

  }

  .soso-services-list{
    margin-left: 10%;
    margin-right: 10%;
  }

  .soso-user-features{
    width: 38% !important;
    float: right !important;
  }

  .service-detail-web{
     display: none ;
   }

  .service-detail-mobile{
  }




  .soso-mobile-properties-content{
    left:0 !important;
  }

  div.soso-notification-item:hover{
    background-color: #3baae3 ;
    border-radius: 5px;
    border: 1px solid;
    border-color: blue;
  }

  .soso-on-web-properties{
    display: none;
  }


  .soso-dialog-content{
  margin-left: 40%;
}

  .soso-loading{
  background-image: url('https://cdn.dribbble.com/users/359314/screenshots/2379673/untitled-3.gif');
  height: 30%;
  width: 50%;
}
  .soso-logo{
    margin-top: 0.8%;
    margin-left: 10%;
    background-color: #277fb3;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid white;
    border-radius: 10px;
    width: 120px;
    height: 72%;
  }

  .soso-languages-block{
    float: right;
    margin-top: 1.5%;
    margin-right: 10%;
  }

  .soso-logo-text{
    margin-left: 14.5%;
    width: 100%;
    font-family: "Fira Code";
  }

  .soso-welcome-page{

  }

  .soso-wlc-page-content{
    margin: 10% 20%;
    background-color: aliceblue;
    border: 1px solid;
    border-color: #3baae3;
    border-radius: 10px;
    padding: 5%;
  }

  .soso-wlc-page-text{
    font-weight: bold;
    font-size: large;
  }

  .soso-wlc-page-buttons{
    margin-top: 5%;
    margin-left: 30%;
  }

  .soso-header{
    display: inline-block;
    width: 100%;
    background-color: #3baae3;
    height: 75px ;
  }


  div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable{
    left:10% !important;
    top: 5% !important;
    right: 10% !important;
  }

  div.ui-g-12{
    width:50%;
    padding: 4%;
  }

  div.ui-md-3{
    width: 50%;
  }

  div.ui-datagrid-content.ui-widget-content{
    background-color: white;
    border:none;
    margin-left: 5%;
    margin-right: 5%;
  }
}




