/* You can add global styles to this file, and also import other style files */
.validation-error-block{
  background-color: pink;
  border: 1px red;
  width: 100%;
}

div.ui-datagrid-header.ui-widget-header.ui-corner-top{
  display: none !important;
}



ul.ui-widget-header{
  border:none !important;
  background-color:#f2f5f7 !important;

}

